<body class="body">
    <div class="Principal">
        <div class="Centrar">
            <mat-card class="example-card">
                <mat-card-content>
                    <img mat-card-image src="/assets/img/i.jpg" alt="Photo of a Shiba Inu">
                    <p>
                        <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon"> drafts</mat-icon>
                        tecnologo.utec@utec.com
                    </p>
                    <p>
                        <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">call</mat-icon> 4342 5656
                    </p>
                </mat-card-content>
            </mat-card>
        </div>



        <div class="Centrar">
            <mat-card class="example-card">
                <mat-card-content>
                    <img mat-card-image src="/assets/img/ubicacion.png" alt="Photo of a Shiba Inu">

                    <a href="https://www.google.com/maps/place/Universidad+Tecnol%C3%B3gica+del+Uruguay+%7C+ITRCS+Sede+San+Jose/@-34.3410675,-56.7183566,17z/data=!4m9!1m2!2m1!1sTecnologo+Informatico+utec+san+jose!3m5!1s0x95a17728bba8e081:0x89ccc11ff9316c13!8m2!3d-34.3410676!4d-56.7139796!15sCiNUZWNub2xvZ28gSW5mb3JtYXRpY28gdXRlYyBzYW4gam9zZVolIiN0ZWNub2xvZ28gaW5mb3JtYXRpY28gdXRlYyBzYW4gam9zZZIBCnVuaXZlcnNpdHmaASRDaGREU1VoTk1HOW5TMFZKUTBGblNVTmpjalpFUkhkM1JSQUI"
                        target="_blank">
                        <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon"><span class="material-symbols-outlined">
                        map
                        </span>
                        </mat-icon>
                    </a>
                    <p>Calle Dr Evaristo Ciganda 461, Departamento de San José</p>

                </mat-card-content>
            </mat-card>
        </div>

    </div>

</body>