<body>

    <div class="Centrartitulo">
        <img src="/assets/img/logo.jpg" class="rotate" />
        <h1>DOCUMENTOS INTERES </h1>
    </div>
    <div class="Principal">
        <div class="Centrar">
            <mat-stepper class="orientacion" [linear]="isLinear" #stepper>
                <mat-step>
                    <div class="Centrardiv">
                        <form [formGroup]="nuevaForm">
                            <ng-template matStepLabel>Nuevo</ng-template>
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Titulo</mat-label>
                                    <input matInput formControlName="titulo" required>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Tipo</mat-label>
                                    <mat-select formControlName="tipo">
                                        <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                                            {{tipo.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div>

                                <button type="button" mat-raised-button (click)="fileInput.click()">Documento pdf</button>
                                <input hidden (change)="onFileSelected($event)" #fileInput type="file" formControlName="imagen">
                                <span class="file-name"></span>
                            </div>

                            <div class="Centrartitulo">
                                <button mat-raised-button class="button" (click)="onNueva()">Listo</button>
                            </div>
                        </form>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Editar</ng-template>
                    <div>
                        <mat-tab-group>
                            <mat-tab label="INFORMACION CARRERA">
                                <div *ngFor="let x of documentosIF">
                                    <div>
                                        <mat-accordion>
                                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        <h2>{{x.titulo}}</h2>
                                                    </mat-panel-title>
                                                    <mat-panel-description>
                                                        Ver {{panelOpenState ? '-' : '+'}}
                                                    </mat-panel-description>
                                                </mat-expansion-panel-header>

                                                <div>
                                                    <h4>ID DEL DOCUMENTO: {{x.id}}</h4>
                                                </div>
                                                <div class="Centrardiv">
                                                    <form [formGroup]="editarForm" class="example-form">
                                                        <div>
                                                            <mat-form-field appearance="fill">
                                                                <mat-label>Titulo</mat-label>
                                                                <input placeholder={{x.titulo}} matInput formControlName="titulo" required>
                                                            </mat-form-field>
                                                        </div>
                                                        <div>
                                                            <mat-form-field appearance="fill">
                                                                <mat-label>Tipo</mat-label>
                                                                <mat-select formControlName="tipo">
                                                                    <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                                                                        {{tipo.viewValue}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                        <div>
                                                            <button type="button" mat-raised-button (click)="fileInput.click()">Documento pdf</button>
                                                            <input hidden (change)="onFileSelected($event)" #fileInput type="file" formControlName="imagen">
                                                            <span class="file-name"></span>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="Centrardiv">
                                                    <button mat-icon-button color="black" (click)="onEditar(x)">
                                                    <mat-icon>editar</mat-icon>
                                                </button>
                                                </div>
                                            </mat-expansion-panel>
                                        </mat-accordion>

                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="OPORTUNIDADES LABORALES">
                                <div *ngFor="let x of documentosOL">
                                    <div>
                                        <mat-accordion>
                                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        <h2>{{x.titulo}}</h2>
                                                    </mat-panel-title>
                                                    <mat-panel-description>
                                                        Ver {{panelOpenState ? '-' : '+'}}
                                                    </mat-panel-description>
                                                </mat-expansion-panel-header>
                                                <div style="width: 60%;">
                                                    <h4>ID DEL DOCUMENTO: {{x.id}}</h4>
                                                </div>
                                                <div class="Centrardiv">
                                                    <form [formGroup]="editarForm" class="example-form">
                                                        <div>
                                                            <mat-form-field appearance="fill">
                                                                <mat-label>Titulo</mat-label>
                                                                <input placeholder={{x.titulo}} matInput formControlName="titulo" required>
                                                            </mat-form-field>
                                                        </div>
                                                        <div>
                                                            <mat-form-field appearance="fill">
                                                                <mat-label>Tipo</mat-label>
                                                                <mat-select formControlName="tipo">
                                                                    <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                                                                        {{tipo.viewValue}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                        <div>

                                                            <button type="button" mat-raised-button (click)="fileInput.click()">Documento pdf</button>
                                                            <input hidden (change)="onFileSelected($event)" #fileInput type="file" formControlName="imagen">
                                                            <span class="file-name"></span>
                                                        </div>
                                                        <div>
                                                            <mat-form-field appearance="fill">
                                                                <mat-label>Activa</mat-label>
                                                                <mat-select formControlName="activo">
                                                                    <mat-option *ngFor="let tipo of activa" [value]="tipo.value">
                                                                        {{tipo.viewValue}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>

                                                    </form>
                                                </div>
                                                <div class="Centrardiv">
                                                    <button mat-icon-button color="black" (click)="onEditar(x)">
                                                    <mat-icon>editar</mat-icon>
                                                </button>
                                                </div>
                                            </mat-expansion-panel>
                                        </mat-accordion>

                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="DATOS DE INTERES">
                                <div *ngFor="let x of documentosDI">
                                    <div>
                                        <mat-accordion>
                                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        <h2>{{x.titulo}}</h2>
                                                    </mat-panel-title>
                                                    <mat-panel-description>
                                                        Ver {{panelOpenState ? '-' : '+'}}
                                                    </mat-panel-description>
                                                </mat-expansion-panel-header>
                                                <div style="width: 60%;">
                                                    <h4>ID DEL DOCUMENTO: {{x.id}}</h4>
                                                </div>
                                                <div class="Centrardiv">
                                                    <form [formGroup]="editarForm" class="example-form">
                                                        <div>
                                                            <mat-form-field appearance="fill">
                                                                <mat-label>Titulo</mat-label>
                                                                <input placeholder={{x.titulo}} matInput formControlName="titulo" required>
                                                            </mat-form-field>
                                                        </div>
                                                        <div>
                                                            <mat-form-field appearance="fill">
                                                                <mat-label>Tipo</mat-label>
                                                                <mat-select formControlName="tipo">
                                                                    <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                                                                        {{tipo.viewValue}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                        <div>

                                                            <button type="button" mat-raised-button (click)="fileInput.click()">Documento pdf</button>
                                                            <input hidden (change)="onFileSelected($event)" #fileInput type="file" formControlName="imagen">
                                                            <span class="file-name"></span>
                                                        </div>
                                                        <div>
                                                            <mat-form-field appearance="fill">
                                                                <mat-label>Activa</mat-label>
                                                                <mat-select formControlName="activo">
                                                                    <mat-option *ngFor="let tipo of activa" [value]="tipo.value">
                                                                        {{tipo.viewValue}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>

                                                    </form>
                                                </div>
                                                <div class="Centrardiv">
                                                    <button mat-icon-button color="black" (click)="onEditar(x)">
                                                        <mat-icon>editar</mat-icon>
                                                </button>
                                                </div>
                                            </mat-expansion-panel>
                                        </mat-accordion>

                                    </div>
                                </div>
                            </mat-tab>

                        </mat-tab-group>
                    </div>
                </mat-step>
            </mat-stepper>
        </div>



    </div>

</body>
<script>
    var obj = document.createElement('object');
    obj.style.width = '100%';
    obj.style.height = '842pt';
    obj.type = 'application/pdf';
    obj.data = document.getElementsById("pdf").value;
    document.body.appendChild(obj);
</script>