<body>
    <div class="Centrartitulo">
        <img src="/assets/img/logo.jpg" class="rotate" />
        <h1>UNIDADES CURRICULARES</h1>
    </div>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Nueva">
            <div>
                <form [formGroup]="nuevaUCForm" class="example-form">
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Id</mat-label>
                            <input formControlName="id" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input formControlName="nombre" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Descripcion</mat-label>
                            <input formControlName="descripcion" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Creditos</mat-label>
                            <input formControlName="creditos" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Documento</mat-label>
                            <input formControlName="documento" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Semestre</mat-label>
                            <input formControlName="semestre" matInput>
                        </mat-form-field>
                    </div>
                    <div *ngIf="materias.length>0">
                        <mat-form-field appearance="fill">
                            <mat-label>Seleccione la Materia</mat-label>
                            <mat-select formControlName="materia">
                                <mat-option *ngFor="let x of materias" [value]="x.id">
                                    {{x.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="unidadesC.length>0">
                        <mat-form-field appearance="fill">
                            <mat-label>EXAMEN</mat-label>
                            <mat-select formControlName="unidadCpreviaExamen" multiple>
                                <mat-select-trigger>
                                    {{unidadesControl.value?.[0] || ''}}
                                    <span *ngIf="(unidadesControl.value?.length || 0) > 1" class="list">
                                      (+{{(unidadesControl.value?.length || 0) - 1}} {{unidadesControl.value?.length === 2 ? 'other' : 'others'}})
                                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let topping of unidadesC" [value]="topping.id">{{topping.nombre}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="unidadesC.length>0">
                        <mat-form-field appearance="fill">
                            <mat-label>CURSO</mat-label>
                            <mat-select formControlName="unidadCpreviaCurso" multiple>
                                <mat-select-trigger>
                                    {{unidadesControl.value?.[0] || ''}}
                                    <span *ngIf="(unidadesControl.value?.length || 0) > 1" class="list">
                                      (+{{(unidadesControl.value?.length || 0) - 1}} {{unidadesControl.value?.length === 2 ? 'other' : 'others'}})
                                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let topping of unidadesC" [value]="topping.id">{{topping.nombre}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <button (click)="nuevaUC()" mat-button>Listo</button>
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Eliminar">

        </mat-tab>
        <mat-tab label="Informacíon">

        </mat-tab>

    </mat-tab-group>
</body>