<body>
    <div class="Centrartitulo">
        <img src="/assets/img/logo.jpg" class="rotate" />
        <h1>UNIDADES CURRICULARES</h1>
    </div>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Nueva">
            <div>
                <form class="example-form">
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Id</mat-label>
                            <input formControlName="id" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input formControlName="nombre" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Descripcion</mat-label>
                            <input formControlName="descripcion" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Creditos</mat-label>
                            <input formControlName="creditos" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Documento</mat-label>
                            <input formControlName="documento" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Semestre</mat-label>
                            <input formControlName="semestre" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Seleccione la Materia</mat-label>
                            <mat-select>
                                <mat-option value="option">Option</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <button mat-button>Listo</button>
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Eliminar">
            <form class="example-form">
                <div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Id</mat-label>
                        <input formControlName="idEliminar" matInput>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button>Eliminar</button>

                </div>
            </form>
        </mat-tab>
        <mat-tab label="Informacíon">
            <form class="example-form">
                <div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Id</mat-label>
                        <input formControlName="idBuscar" matInput>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button (click)="openDialog('0ms', '0ms')">Buscar</button>

                </div>
            </form>
        </mat-tab>

    </mat-tab-group>
</body>