.Centrartitulo {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: black;
    font-size: 60px;
}

.divPrincipal {
    display: flex;
}

.Centrardiveditar {
    width: 800px;
}

form {
    width: 100%;
}

.rotate {
    animation: rotation 8s infinite linear;
    width: 100px;
    height: 100px;
}

.div {
    width: 100%;
    margin-right: 5%;
}

mat-panel-description {
    justify-content: right;
    align-items: center;
}

mat-form-field {
    width: 750px;
}

.button {
    width: 22%;
    color: black;
    background-color: #098A9A;
}

.list {
    opacity: 0.75;
    font-size: 0.75em;
}

.Centrardiv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.mat-tab-group {
    margin-bottom: 48px;
}

.btn {
    background-color: #e0e0e0;
    width: 10%;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

@media (max-width: 500px) {
    h1 {
        color: black;
        font-size: 40px;
    }
    .rotate {
        animation: rotation 8s infinite linear;
        width: 60px;
        height: 60px;
    }
    .divPrincipal {
        display: grid;
        width: 100%;
    }
    .div {
        width: 80%;
    }
    mat-form-field {
        width: 100%;
    }
    .Centrardiveditar {
        width: 100%;
    }
}