<mat-toolbar id="desktopNav">
    <img id="logo" src="/assets/img/logo.jpg" />
    <div id="navbarList">
        <span routerLink="/">Home</span>
        <span routerLink="./noticias">Noticias</span>
        <span mat-flat-button [matMenuTriggerFor]="menu">Información</span>
        <mat-menu #menu="matMenu">
            <span routerLink="./noticias" mat-menu-item>Datos de interes</span>
            <span routerLink="/materia" mat-menu-item>Materias</span>
            <span routerLink="/" mat-menu-item>Unidades curriculares</span>
        </mat-menu>
        <span routerLink="/contacto">Contactos</span>
    </div>
    <div>
        <img src="/assets/img/logout.jpg" />
    </div>
</mat-toolbar>

<mat-toolbar id="mobileNav">
    <img id="logo" src="/assets/img/logo.jpg" />
    <mat-icon style="color: #359FFF" mat-flat-button [matMenuTriggerFor]="menuMobile">menu</mat-icon>
    <mat-menu #menuMobile="matMenu">
        <span routerLink="./noticias" mat-menu-item>Noticias</span>
        <span routerLink="./noticias" mat-menu-item>Datos de interes</span>
        <span routerLink="/materia" mat-menu-item>Materias</span>
        <span routerLink="/" mat-menu-item>Unidades curriculares</span>
        <span routerLink="/contacto" mat-menu-item>Contactos</span>
    </mat-menu>
</mat-toolbar>


<router-outlet></router-outlet>