<body>
    <div class="Centrartitulo">
        <img src="/assets/img/logo.jpg" class="rotate" />
        <h1>NOTICIAS</h1>
    </div>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Nueva">
            <div>
                <form [formGroup]="nuevaNoticiaForm" class="example-form">
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Id</mat-label>
                            <input formControlName="id" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Titulo</mat-label>
                            <input formControlName="titulo" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Descripcion</mat-label>
                            <input formControlName="descripcion" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Imagen</mat-label>
                            <input formControlName="imagen" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Fecha</mat-label>
                            <input type="date" formControlName="fechaCaducidad" matInput>
                        </mat-form-field>
                    </div>
                    <button mat-button (click)="onNueva()">Listo</button>
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Eliminar">
            <form [formGroup]="eliminarNoticiaForm" class="example-form">
                <div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Id</mat-label>
                        <input formControlName="idEliminar" matInput>
                    </mat-form-field>
                </div>
                <div>
                    <button (click)="onEliminar()" mat-button>Eliminar</button>
                </div>
            </form>
        </mat-tab>
        <mat-tab label="Informacíon">
            <form [formGroup]="verNoticiaForm" class="example-form">
                <div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Id</mat-label>
                        <input formControlName="idBuscar" matInput>
                    </mat-form-field>
                </div>
                <div>
                    <button (click)="onVer()" mat-button>Buscar</button>
                </div>
            </form>
        </mat-tab>

    </mat-tab-group>
</body>