<body class="body">
    <div class="Principal">
        <div class="Centrar">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Nueva Noticia</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="/assets/img/mas.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Titulo</mat-label>
                            <input type="username" formControlName="username" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Descripcion</mat-label>
                            <input type="username" formControlName="username" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Fecha caducidad</mat-label>
                            <input type="date" formControlName="username" matInput>
                        </mat-form-field>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="centrarbtn">
                        <button mat-raised-button class="btnLogin">Nueva</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="Centrar">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Noticia</mat-card-title>
                    <mat-card-subtitle>Noticia</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/img/logoc.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>
                        Fecha:23/06/2022
                    </p>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</body>