<body>
    <div class="Centrartitulo">
        <img src="/assets/img/logo.jpg" class="rotate" />
        <h1>MATERIAS</h1>
    </div>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Nueva">
            <div class="Centrardiv">
                <form [formGroup]="nuevaMateriaForm" class="example-form">
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input formControlName="nombre" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Descripción</mat-label>
                            <input formControlName="descripcion" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Créditos Mínimos</mat-label>
                            <input formControlName="creditosMinimos" matInput>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button (click)="onNueva()">Listo</button>
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Editar">
            <div class="Centrardiv">
                <div class="Centrardiveditar">
                    <div *ngFor="let x of materias">
                        <div>
                            <mat-accordion>
                                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <h2>{{x.nombre}}</h2>
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Ver {{panelOpenState ? '-' : '+'}}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div style="width: 60%;">
                                        <p>ID NOTICIA: {{x.id}}</p>
                                    </div>
                                    <div style="width: 60%;">
                                        <form [formGroup]="editarMateriaForm" class="example-form">
                                            <mat-form-field class="example-full-width" appearance="fill">
                                                <mat-label>Nombre</mat-label>
                                                <input placeholder={{x.nombre}} value={{x.nombre}} formControlName="nombre" [(ngModel)]="value" matInput>
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width" appearance="fill">
                                                <mat-label>Descripción</mat-label>
                                                <input placeholder={{x.descripcion}} value={{x.descripcion}} formControlName="descripcion" [(ngModel)]="value2" matInput>
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width" appearance="fill">
                                                <mat-label>Créditos Mínimos</mat-label>
                                                <input placeholder={{x.creditosMinimos}} value={{x.creditosMinimos}} formControlName="creditosMinimos" [(ngModel)]="value3" matInput>
                                            </mat-form-field>
                                        </form>
                                    </div>
                                    <button (click)="eliminarMateria(x.id)" mat-icon-button color="warn">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    <button (click)="editarMateria(x)" mat-icon-button color="black">
                                        <mat-icon>editar</mat-icon>
                                    </button>
                                </mat-expansion-panel>
                            </mat-accordion>

                        </div>
                    </div>

                </div>
            </div>

        </mat-tab>

    </mat-tab-group>
</body>