<div>
  <div style="height: 30vh; display: flex; justify-content: center; align-items: center; text-align: center;">
    <div>
      <h3 style="font-size: 32px;">Tecnologo en Informatica</h3>
      <div><span>Te damos la bienvenida a la pagina informativa del tecnologo en informatica</span></div>
    </div>
  </div>
  <div class="cardHome">
    <div (click)="anteriorPag()" class="flecha">
      <mat-icon>arrow_back_ios</mat-icon>
    </div>
    <div *ngFor="let noticia of noticias">
      <div>
        <mat-card class="card">
          <img mat-card-image src={{noticia.imagen}}>
          <mat-card-content>
            <h5>{{noticia.titulo}}</h5>
            <p>{{noticia.descripcion}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div (click)="siguientePag()" class="flecha">
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
  </div>
  <div style="display: flex; justify-content: space-around; margin-top: 10px;">
    <div (click)="anteriorPag()" class="flechaMobile">
      <mat-icon>arrow_back_ios</mat-icon>
    </div>
    <div>
      {{page}} - {{cantidadPag}}
    </div>
    <div (click)="siguientePag()" class="flechaMobile">
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
  </div>

</div>